
nav {
    font-family: Arial, sans-serif;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #468a95;
    overflow: hidden;
  }
  
  nav li {
    float: left;
  }
  
  nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  nav li a:hover {
    background-color: #2d5d64;
  }